.editPost {
     padding-top: 50px;
     font-size: 36px;
     font-weight: bold;
     text-align: center;
     color: #98c2a8;
     margin-top: 10px; 
     font-family: 'Arial', sans-serif; 
 }
  
 .editForm {
     display: flex;
     flex-direction: column;
     align-items: center;
     padding: 100px;
     background-color: #f9f9f9;
     border: 1px solid #ccc;
     border-radius: 5px;
 }
 
 .editFormGroup {
     margin-bottom: 25px;
 }
 
 .editTitle {
     width: 1158px;
     padding: 10px;
     font-size: 16px;
     border: 1px solid #ccc;
     border-radius: 5px;
     outline: none;
     text-align: center;
 }
 
 .editContent {
     width: 1000px;
     padding: 90px;
     font-size: 16px;
     border: 1px solid #ccc;
     border-radius: 5px;
     text-align: center;
     outline: none; 
 }
 
 .editSubmit {
     padding: 10px 20px;
     background-color: #858f86;
     color: #fff;
     border: none;
     border-radius: 5px;
     cursor: pointer;
     font-size: 16px;
 }
 
 .editSubmit:hover {
     background-color: #66cd41;
 }
 